In [2]:
NumberRange = int(input("Enter Range for Number : "))
TableRange = int(input("Enter Range for Table : "))


for n in range(1,NumberRange+1):
    print("\n**************** Table of",n,"*******************")
    for t in range(1,TableRange+1):
        print("\t\t",n,"*",t,"=",n*t )

Enter Range for Number : 5
Enter Range for Table : 8

**************** Table of 1 *******************
		 1 * 1 = 1
		 1 * 2 = 2
		 1 * 3 = 3
		 1 * 4 = 4
		 1 * 5 = 5
		 1 * 6 = 6
		 1 * 7 = 7
		 1 * 8 = 8

**************** Table of 2 *******************
		 2 * 1 = 2
		 2 * 2 = 4
		 2 * 3 = 6
		 2 * 4 = 8
		 2 * 5 = 10
		 2 * 6 = 12
		 2 * 7 = 14
		 2 * 8 = 16

**************** Table of 3 *******************
		 3 * 1 = 3
		 3 * 2 = 6
		 3 * 3 = 9
		 3 * 4 = 12
		 3 * 5 = 15
		 3 * 6 = 18
		 3 * 7 = 21
		 3 * 8 = 24

**************** Table of 4 *******************
		 4 * 1 = 4
		 4 * 2 = 8
		 4 * 3 = 12
		 4 * 4 = 16
		 4 * 5 = 20
		 4 * 6 = 24
		 4 * 7 = 28
		 4 * 8 = 32

**************** Table of 5 *******************
		 5 * 1 = 5
		 5 * 2 = 10
		 5 * 3 = 15
		 5 * 4 = 20
		 5 * 5 = 25
		 5 * 6 = 30
		 5 * 7 = 35
		 5 * 8 = 40

In [2]:
nlr = int(input("Enter Lower Range for Number : "))
nur = int(input("Enter Upper Range for Number : "))
tlr = int(input("Enter Lower Range for Table : "))
tur = int(input("Enter Upper Range for Table : "))

for n in range(nlr,nur+1):
    print("\n**************** Table of",n,"*******************")
    for t in range(tlr,tur+1):
        print("\t\t",n,"x",t,"=",n*t )

Enter Lower Range for Number : 6
Enter Upper Range for Number : 12
Enter Lower Range for Table : 5
Enter Upper Range for Table : 9

**************** Table of 6 *******************
		 6 x 5 = 30
		 6 x 6 = 36
		 6 x 7 = 42
		 6 x 8 = 48
		 6 x 9 = 54

**************** Table of 7 *******************
		 7 x 5 = 35
		 7 x 6 = 42
		 7 x 7 = 49
		 7 x 8 = 56
		 7 x 9 = 63

**************** Table of 8 *******************
		 8 x 5 = 40
		 8 x 6 = 48
		 8 x 7 = 56
		 8 x 8 = 64
		 8 x 9 = 72

**************** Table of 9 *******************
		 9 x 5 = 45
		 9 x 6 = 54
		 9 x 7 = 63
		 9 x 8 = 72
		 9 x 9 = 81

**************** Table of 10 *******************
		 10 x 5 = 50
		 10 x 6 = 60
		 10 x 7 = 70
		 10 x 8 = 80
		 10 x 9 = 90

**************** Table of 11 *******************
		 11 x 5 = 55
		 11 x 6 = 66
		 11 x 7 = 77
		 11 x 8 = 88
		 11 x 9 = 99

**************** Table of 12 *******************
		 12 x 5 = 60
		 12 x 6 = 72
		 12 x 7 = 84
		 12 x 8 = 96
		 12 x 9 = 108

In [14]:
n = int(input("Enter a Number : "))

for p in range(2,n):
    if(n%p == 0):
        print("\n",n," is not a Prime Number")
        break
else:
    print("\n",n," is a Prime Number")

Enter a Number : 8

 8  is not a Prime Number