In [9]:

List = [1,2,3,4,5,6,7]
Tuple = (1,2,3,4,5,6,7)

print("The List : ", List)
print("The Tuple : ", Tuple)

print("The first Element in List : ",List[0])
print("The first Element in Tuple : ",Tuple[0])

print("All the elements in List : ",end="")
for elm in List:
    print(elm,end=" ")
    
print("\nAll the elements in Tuple : ",end="")
for elm in Tuple:
    print(elm,end=" ")
    
print("\nList Slice : ",List[2:5])
print("Tuple Slice : ",Tuple[2:5])

print("Ty to modify the first element in List.....")
List[0] = 9
print("The List : ",List)

print("Ty to modify the first element in Tuple.....")
Tuple[0] = 9
print("The List : ",Tuple)

The List :  [1, 2, 3, 4, 5, 6, 7]
The Tuple :  (1, 2, 3, 4, 5, 6, 7)
The first Element in List :  1
The first Element in Tuple :  1
All the elements in List : 1 2 3 4 5 6 7
All the elements in Tuple : 1 2 3 4 5 6 7
List Slice :  [3, 4, 5]
Tuple Slice :  (3, 4, 5)
Ty to modify the first element in List.....
The List :  [9, 2, 3, 4, 5, 6, 7]
Ty to modify the first element in Tuple.....

TypeError: 'tuple' object does not support item assignment

In [17]:
t = 3 ,"A" ,99

print(t)
print(type(t))

v1, v2, v3 = 23, 56, 34

val, letter, quant = t

print("Val : ",val,"\t Type : ",type(val))
print("Val : ",letter,"\t Type : ",type(letter))
print("Val : ",quant,"\t Type : ",type(quant))

print("Val = ",val,"\tletter = ",letter,"\tQuant = ",quant)
print("type of Val = ",type(val))
print("type of letter = ",type(letter))
print("type of quant = ",type(quant))

(3, 'A', 99)
<class 'tuple'>
Val :  3 	 Type :  <class 'int'>
Val :  A 	 Type :  <class 'str'>
Val :  99 	 Type :  <class 'int'>
Val =  3 	letter =  A 	Quant =  99
type of Val =  <class 'int'>
type of letter =  <class 'str'>
type of quant =  <class 'int'>

In [19]:
t = 3, "A", 99, 16, 0, 42
_, letter, _, quant, val, rating = t
print("Val = ",val,"\tletter = ",letter,"\tquant = ",quant,"\trating = ",rating)

Val =  0 	letter =  A 	quant =  16 	rating =  42

In [22]:

tpl = 1, 2, 3, 4, 5, 6, 7, 8
print("Tuple : ",tpl)
print("Tuple to List : ",list(tpl))
newList = list(tpl)
print("New List : ", newList)
lst = ['a','b','c','d']
print("List : ",lst)
print("List to Tuple : ",tuple(lst))
newTuple = tuple(lst)
print("New Tuple : ",newTuple)

Tuple :  (1, 2, 3, 4, 5, 6, 7, 8)
Tuple to List :  [1, 2, 3, 4, 5, 6, 7, 8]
New List :  [1, 2, 3, 4, 5, 6, 7, 8]
List :  ['a', 'b', 'c', 'd']
List to Tuple :  ('a', 'b', 'c', 'd')
New Tuple :  ('a', 'b', 'c', 'd')

In [26]:

lst1 = [1,2,3,4,5,6,7,8]
lst2 = ['a','b','c','d','e','f','g','h','i','j']
lst3 = ['ABC','CDE','EFG','HIJ','KLM','NOP','QRS']

myTpl = ()

for t in zip(lst1,lst2,lst3):
    print(t)
    myTpl += t
    
print(myTpl)

(1, 'a', 'ABC')
(2, 'b', 'CDE')
(3, 'c', 'EFG')
(4, 'd', 'HIJ')
(5, 'e', 'KLM')
(6, 'f', 'NOP')
(7, 'g', 'QRS')
(1, 'a', 'ABC', 2, 'b', 'CDE', 3, 'c', 'EFG', 4, 'd', 'HIJ', 5, 'e', 'KLM', 6, 'f', 'NOP', 7, 'g', 'QRS')